<% provide :title, t(".About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | <%= t ".Sample_App" %></title>
  </head>
  <body>
    <h1><%= t "About" %></h1>
    <p>
      The <a href="http://www.railstutorial.org/"><em><%= t ".Tutorial" %></em></a> is a
      <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> <%= t ".and" %>
      <a href="http://screencasts.railstutorial.org/"><%= t ".screencast_series" %></a>
      <%= t ".teach_web" %>
      <a href="http://rubyonrails.org/"><%= t ".Rails" %></a>.
      <%= t ".sample" %>
    </p>
  </body>
</html>
