<% provide :title, t(".Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= t ".Sample_App" %></title>
  </head>
  <body>
    <h1><%= t ".Help" %></h1>
    <p>
      <%= t ".Get_help_on" %>
      <a href="http://www.railstutorial.org/help"><%= t "Rails Tutorial help section" %></a>.
      <%= t "To_get_help" %>
      <a href="http://www.railstutorial.org/book"><em><%= t ".Ruby_on_Rails" %></em><%= t ".book" %>
      </a>.
    </p>
  </body>
</html>
