<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t "Micropost_Feed" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1><%= t ".Welcome" %></h1>

  <h2>
    <%= t ".This_is" %>
    <a href="http://www.railstutorial.org/"><%= t ".Tutorial" %></a>
    <%= t ".sample" %>
  </h2>

  <%= link_to t(".Sign_up_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

  <%= link_to image_tag("rails.png", alt: t("Rails logo")),
    "http://rubyonrails.org/" %>
<% end %>
