<footer class="footer">
  <small>
    <%= t ".The" %> <a href="http://www.railstutorial.org/"><%= t ".Tutorial" %></a>
    <%= t ".by" %> <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".About"),  about_path %></li>
      <li><%= link_to t(".Contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".News" %></a></li>
    </ul>
  </nav>
</footer>
